@model BlogEditVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <img src="~/img/@Model.Image" style="witdh:200px;height:200px;" />
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label for="category">Image</label>
            <span asp-validation-for="NewImage" class="text-danger"></span>
            <input class="form-control form-bg-light" type="file" asp-for="NewImage" maxlength="100" placeholder="Category...">
            <label class="mt-5" for="category">Title</label>
            <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" class="form-control form-bg-light" maxlength="100" placeholder="Title...">
            <label class="mt-5" for="category">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
            <input asp-for="Description" class="form-control form-bg-light" maxlength="100" placeholder="Description...">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-light mr-2">Cancel</a>
    </form>
</div>

