@model IEnumerable<SliderVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h2 class="text-center">Slider</h2>
    <a asp-action="Create" class="btn btn-success">
        <i class="ti-plus"></i>
    </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Image</th>
                    
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr style="background-color:#bbb">

                        <td>

                            <img style="witdh:100px;height:200px;" src="~/img/@item.Image" />

                            
                        </td>
                         <td>

                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary text-white small">
                                <i class="ti-info"></i>
                            </a>

                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white small">
                                <i class="ti-marker-alt"></i>
                            </a>
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">

                                <button type="submit" class="btn btn-danger text-white small">
                                    <i class="ti-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


