@model Blog
@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/css/blogdetail.css">
}

<div class="bbb_deals_featured">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-center">
                <!-- bbb_deals -->
                <div class="bbb_deals">
                    <div class="ribbon ribbon-top-right"><span>50% OFF</span></div>
                    <div class="bbb_deals_title">Today's Best Offer</div>
                    <div class="bbb_deals_slider_container">
                        <!-- bbb_deals Item -->
                        <div class=" bbb_deals_item">
                            <div class="bbb_deals_image">
                                <img src="~/img/@Model.Image" alt="">
                            </div>
                            <div class="bbb_deals_content">
                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                    <div class="bbb_deals_item_category"><a href="#">Laptops</a></div>
                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                </div>
                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                    <div class="bbb_deals_item_name">@Model.Title</div>
                                    <div class="bbb_deals_item_price ml-auto">@Model.Description</div>
                                </div>
                                <div class="available">
                                    <div class="available_line d-flex flex-row justify-content-start">
                                        <div class="available_title">Available: <span>6</span></div>
                                        <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                    </div>
                                    <div class="available_bar"><span style="width:17%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Featured -->
            </div>
        </div>
    </div>
</div>

<script>


</script>