@model Category
@{
    ViewData["Title"] = "Detail";
}


<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>@Model.Name</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details (isMain)</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Count</th>
                            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>

                                @foreach (var item in Model.Products)
                                {
                                    @foreach (var img in item.ProductImages)
                            {
                                
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                        <img style="witdh:100px;height:100px" src="~/img/@img.Name" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                        <a href="#" class="d-block text-dark">@item.Name- @img.IsMain</a>
                                        <small>
                                            <span class="text-muted">Color:</span>
                                            <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                            <span class="text-muted">Size: </span> EU 37 &nbsp;
                                            <span class="text-muted">Ships from: </span> China
                                        </small>
                                    </div>
                                </div>
                                   
                                
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">$@item.Price</td>
                            <td class="align-middle p-4">@Model.Products.Count</td>
                            
                            <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                        </tr>
                            }
}
                     

                    </tbody>
                </table>
            </div>
           

           

            <div class="float-right">
                <a asp-action="Index"class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back</a>
                <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div>

        </div>
    </div>
</div>

